* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body { 

}

header {
  background-color: blue;
}

header div {
  color: wheat;
  max-width: 900px;
}

nav {
  /* max-width: 900px; */
  /* display: flex ; */
  /* justify-content: center; */

}
.header-logo {

}


nav ul {
  display: flex;
  gap: 20px;
}

/* nav ul li:first-child {
  flex-grow: 3;
} */